version: '3.8'
services:
  #  app:
  #   build: .
  #   volumes:
  #     - .:/app
  #     - /app/node_modules
  #   ports:
  #     - '3000:3000'
  #   depends_on:
  #     - db
  #   working_dir: /app
   db:
    image: postgres
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5433:5432'
volumes:
  postgres_data:

